# Data Cleaning Project

#### Prepared by Faiz Yah, 19th February 2024, KL Malaysia

When we first receive a new fresh set of data, sometimes it arrives in a form that is uncleaned and dirty, hence we need to clean the data first. Uncleaned data could potentially lead to incorrect analysis and outcome, which will negatively impact the entire business' productivity.

Data cleaning, also known as data cleansing, generally includes removing unnecessary columns/rows, removing duplicated values/null values/outliers, replacing values, fixing formats, to name a few.

This process is one of the crucial steps taken before analysing the data. A well-cleaned data increases the quality and efficiency of the data, ensuring better decision-making while simultaneously saves resources.

## 1. Introduction of Project

The main focus of the project is to **clean raw data.**

The data set records the **numbers and stats** of the football players in the **game FIFA 21**, taken from [Kaggle](https://www.kaggle.com/datasets/yagunnersya/fifa-21-messy-raw-dataset-for-cleaning-exploring).

The data set is **rather messy** (or Messi) in its raw state and requires thorough cleaning.

## 2. Execution of Project

The data cleaning procedures carried out for this project are as follows:

1. Download and import the _csv._ file
2. Check information about the dataset (Amount of columns and their respective data type)
3. Browse through the dataset (To gain first impression and better understanding)
4. Remove unnecessary columns
5. Modify and extract data of column 
	5.1 Convert height from inches to cm
	5.2 Convert weight from pounds to kilograms 
6. Split column into 2 separate columns
7. Convert data type of column
8. Remove unwanted rows
9. Extract and convert 'M - million' and 'K - thousand' strings into int data type
10. Remove unnecessary columns 
11. Export the cleaned data into _.csv_ or _.json_ file

### 1. Import the _csv._ file

In [1]:
import pandas as pd

df = pd.read_csv('fifa21_raw_data.csv')

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (76) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

### 2. Check the information of the data set

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 77 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   photoUrl          18979 non-null  object
 1   LongName          18979 non-null  object
 2   playerUrl         18979 non-null  object
 3   Nationality       18979 non-null  object
 4   Positions         18979 non-null  object
 5   Name              18979 non-null  object
 6   Age               18979 non-null  int64
 7   ↓OVA              18979 non-null  int64
 8   POT               18979 non-null  int64
 9   Team & Contract   18979 non-null  object
 10  ID                18979 non-null  int64
 11  Height            18979 non-null  object
 12  Weight            18979 non-null  object
 13  foot              18979 non-null  object
 14  BOV               18979 non-null  int64
 15  BP                18979 non-null  object
 16  Growth            18979 non-null  int64
 17  Joined            18979 non-null  object
 18  Loan Date End     1013 non-null   object
 19  Value             18979 non-null  object
 20  Wage              18979 non-null  object
 21  Release Clause    18979 non-null  object
 22  Attacking         18979 non-null  int64
 23  Crossing          18979 non-null  int64
 24  Finishing         18979 non-null  int64
 25  Heading Accuracy  18979 non-null  int64
 26  Short Passing     18979 non-null  int64
 27  Volleys           18979 non-null  int64
 28  Skill             18979 non-null  int64
 29  Dribbling         18979 non-null  int64
 30  Curve             18979 non-null  int64
 31  FK Accuracy       18979 non-null  int64
 32  Long Passing      18979 non-null  int64
 33  Ball Control      18979 non-null  int64
 34  Movement          18979 non-null  int64
 35  Acceleration      18979 non-null  int64
 36  Sprint Speed      18979 non-null  int64
 37  Agility           18979 non-null  int64
 38  Reactions         18979 non-null  int64
 39  Balance           18979 non-null  int64
 40  Power             18979 non-null  int64
 41  Shot Power        18979 non-null  int64
 42  Jumping           18979 non-null  int64
 43  Stamina           18979 non-null  int64
 44  Strength          18979 non-null  int64
 45  Long Shots        18979 non-null  int64
 46  Mentality         18979 non-null  int64
 47  Aggression        18979 non-null  int64
 48  Interceptions     18979 non-null  int64
 49  Positioning       18979 non-null  int64
 50  Vision            18979 non-null  int64
 51  Penalties         18979 non-null  int64
 52  Composure         18979 non-null  int64
 53  Defending         18979 non-null  int64
 54  Marking           18979 non-null  int64
 55  Standing Tackle   18979 non-null  int64
 56  Sliding Tackle    18979 non-null  int64
 57  Goalkeeping       18979 non-null  int64
 58  GK Diving         18979 non-null  int64
 59  GK Handling       18979 non-null  int64
 60  GK Kicking        18979 non-null  int64
 61  GK Positioning    18979 non-null  int64
 62  GK Reflexes       18979 non-null  int64
 63  Total Stats       18979 non-null  int64
 64  Base Stats        18979 non-null  int64
 65  W/F               18979 non-null  object
 66  SM                18979 non-null  object
 67  A/W               18979 non-null  object
 68  D/W               18979 non-null  object
 69  IR                18979 non-null  object
 70  PAC               18979 non-null  int64
 71  SHO               18979 non-null  int64
 72  PAS               18979 non-null  int64
 73  DRI               18979 non-null  int64
 74  DEF               18979 non-null  int64
 75  PHY               18979 non-null  int64
 76  Hits              18979 non-null  object
dtypes: int64(55), object(22)
memory usage: 11.1+ MB

I noticed that there are a total of **77 columns**, majority of them are **the stats of the players**.

In [3]:
df.shape

(18979, 77)

We can also check using the _.shape_ function, and the result shows that there are **18979 rows and 77 columns**.

### 3. Browse through the 77 columns

In [4]:
pd.set_option('display.max_columns', None) # Apply this code to be able to browse through all 77 columns.

df.head()

,photoUrl,LongName,playerUrl,Nationality,Positions,Name,Age,↓OVA,POT,Team & Contract,ID,Height,Weight,foot,BOV,BP,Growth,Joined,Loan Date End,Value,Wage,Release Clause,Attacking,Crossing,Finishing,Heading Accuracy,Short Passing,Volleys,Skill,Dribbling,Curve,FK Accuracy,Long Passing,Ball Control,Movement,Acceleration,Sprint Speed,Agility,Reactions,Balance,Power,Shot Power,Jumping,Stamina,Strength,Long Shots,Mentality,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Defending,Marking,Standing Tackle,Sliding Tackle,Goalkeeping,GK Diving,GK Handling,GK Kicking,GK Positioning,GK Reflexes,Total Stats,Base Stats,W/F,SM,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,https://cdn.sofifa.com/players/158/023/21_60.png,Lionel Messi,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,RW ST CF,L. Messi,33,93,93,\n\n\n\nFC Barcelona\n2004 ~ 2021\n\n,158023,"5'7""",159lbs,Left,93,RW,0,"Jul 1, 2004",NaN,€67.5M,€560K,€138.4M,429,85,95,70,91,88,470,96,93,94,91,96,451,91,80,91,94,95,389,86,68,72,69,94,347,44,40,93,95,75,96,91,32,35,24,54,6,11,15,14,8,2231,466,4 ★,4★,Medium,Low,5 ★,85,92,91,95,38,65,\n372
1,https://cdn.sofifa.com/players/020/801/21_60.png,C. Ronaldo dos Santos Aveiro,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,ST LW,Cristiano Ronaldo,35,92,92,\n\n\n\nJuventus\n2018 ~ 2022\n\n,20801,"6'2""",183lbs,Right,92,ST,0,"Jul 10, 2018",NaN,€46M,€220K,€75.9M,437,84,95,90,82,86,414,88,81,76,77,92,431,87,91,87,95,71,444,94,95,84,78,93,353,63,29,95,82,84,95,84,28,32,24,58,7,11,15,14,11,2221,464,4 ★,5★,High,Low,5 ★,89,93,81,89,35,77,\n344
2,https://cdn.sofifa.com/players/200/389/21_60.png,Jan Oblak,http://sofifa.com/player/200389/jan-oblak/210005/,Slovenia,GK,J. Oblak,27,91,93,\n\n\n\nAtlético Madrid\n2014 ~ 2023\n\n,200389,"6'2""",192lbs,Right,91,GK,2,"Jul 16, 2014",NaN,€75M,€125K,€159.4M,95,13,11,15,43,13,109,12,13,14,40,30,307,43,60,67,88,49,268,59,78,41,78,12,140,34,19,11,65,11,68,57,27,12,18,437,87,92,78,90,90,1413,489,3 ★,1★,Medium,Medium,3 ★,87,92,78,90,52,90,\n86
3,https://cdn.sofifa.com/players/192/985/21_60.png,Kevin De Bruyne,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,CAM CM,K. De Bruyne,29,91,91,\n\n\n\nManchester City\n2015 ~ 2023\n\n,192985,"5'11""",154lbs,Right,91,CAM,0,"Aug 30, 2015",NaN,€87M,€370K,€161M,407,94,82,55,94,82,441,88,85,83,93,92,398,77,76,78,91,76,408,91,63,89,74,91,408,76,66,88,94,84,91,186,68,65,53,56,15,13,5,10,13,2304,485,5 ★,4★,High,High,4 ★,76,86,93,88,64,78,\n163
4,https://cdn.sofifa.com/players/190/871/21_60.png,Neymar da Silva Santos Jr.,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,LW CAM,Neymar Jr,28,91,91,\n\n\n\nParis Saint-Germain\n2017 ~ 2022\n\n,190871,"5'9""",150lbs,Right,91,LW,0,"Aug 3, 2017",NaN,€90M,€270K,€166.5M,408,85,87,62,87,87,448,95,88,89,81,95,453,94,89,96,91,83,357,80,62,81,50,84,356,51,36,87,90,92,93,94,35,30,29,59,9,9,15,15,11,2175,451,5 ★,5★,High,Medium,5 ★,91,85,86,94,36,59,\n273

Browsing through the 77 columns is essential as it provides an initial impression and better understanding of the data set. It allows us to identify what consist in the data sets, which data **should be kept, while which should be removed**.

### 4. Remove unnecessary columns

In [5]:
# Remove all columns between column index 22 to 76

df.drop(df.iloc[:, 22:77], inplace=True, axis=1)

After the browse through, my verdicts are that I am not very interested with the stats of each players, so I will drop these columns with the player stats.

For the column removal, instead of inputing the name of each column individually, I can use the **column index**. The column indexes can be identified from the df.info() above.

For this case, the column index I would like to remove are from column index 22 to 76.

In [6]:
df.head()

,photoUrl,LongName,playerUrl,Nationality,Positions,Name,Age,↓OVA,POT,Team & Contract,ID,Height,Weight,foot,BOV,BP,Growth,Joined,Loan Date End,Value,Wage,Release Clause
0,https://cdn.sofifa.com/players/158/023/21_60.png,Lionel Messi,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,RW ST CF,L. Messi,33,93,93,\n\n\n\nFC Barcelona\n2004 ~ 2021\n\n,158023,"5'7""",159lbs,Left,93,RW,0,"Jul 1, 2004",NaN,€67.5M,€560K,€138.4M
1,https://cdn.sofifa.com/players/020/801/21_60.png,C. Ronaldo dos Santos Aveiro,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,ST LW,Cristiano Ronaldo,35,92,92,\n\n\n\nJuventus\n2018 ~ 2022\n\n,20801,"6'2""",183lbs,Right,92,ST,0,"Jul 10, 2018",NaN,€46M,€220K,€75.9M
2,https://cdn.sofifa.com/players/200/389/21_60.png,Jan Oblak,http://sofifa.com/player/200389/jan-oblak/210005/,Slovenia,GK,J. Oblak,27,91,93,\n\n\n\nAtlético Madrid\n2014 ~ 2023\n\n,200389,"6'2""",192lbs,Right,91,GK,2,"Jul 16, 2014",NaN,€75M,€125K,€159.4M
3,https://cdn.sofifa.com/players/192/985/21_60.png,Kevin De Bruyne,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,CAM CM,K. De Bruyne,29,91,91,\n\n\n\nManchester City\n2015 ~ 2023\n\n,192985,"5'11""",154lbs,Right,91,CAM,0,"Aug 30, 2015",NaN,€87M,€370K,€161M
4,https://cdn.sofifa.com/players/190/871/21_60.png,Neymar da Silva Santos Jr.,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,LW CAM,Neymar Jr,28,91,91,\n\n\n\nParis Saint-Germain\n2017 ~ 2022\n\n,190871,"5'9""",150lbs,Right,91,LW,0,"Aug 3, 2017",NaN,€90M,€270K,€166.5M

It seems that I have succesfully dropped the columns of the stats of the player.

Next, I would like to drop the "Url" columns, I can use the similar coding as above.

In [7]:
df.drop(df.columns[[0,2]], inplace=True, axis=1) 

df.head()

,LongName,Nationality,Positions,Name,Age,↓OVA,POT,Team & Contract,ID,Height,Weight,foot,BOV,BP,Growth,Joined,Loan Date End,Value,Wage,Release Clause
0,Lionel Messi,Argentina,RW ST CF,L. Messi,33,93,93,\n\n\n\nFC Barcelona\n2004 ~ 2021\n\n,158023,"5'7""",159lbs,Left,93,RW,0,"Jul 1, 2004",NaN,€67.5M,€560K,€138.4M
1,C. Ronaldo dos Santos Aveiro,Portugal,ST LW,Cristiano Ronaldo,35,92,92,\n\n\n\nJuventus\n2018 ~ 2022\n\n,20801,"6'2""",183lbs,Right,92,ST,0,"Jul 10, 2018",NaN,€46M,€220K,€75.9M
2,Jan Oblak,Slovenia,GK,J. Oblak,27,91,93,\n\n\n\nAtlético Madrid\n2014 ~ 2023\n\n,200389,"6'2""",192lbs,Right,91,GK,2,"Jul 16, 2014",NaN,€75M,€125K,€159.4M
3,Kevin De Bruyne,Belgium,CAM CM,K. De Bruyne,29,91,91,\n\n\n\nManchester City\n2015 ~ 2023\n\n,192985,"5'11""",154lbs,Right,91,CAM,0,"Aug 30, 2015",NaN,€87M,€370K,€161M
4,Neymar da Silva Santos Jr.,Brazil,LW CAM,Neymar Jr,28,91,91,\n\n\n\nParis Saint-Germain\n2017 ~ 2022\n\n,190871,"5'9""",150lbs,Right,91,LW,0,"Aug 3, 2017",NaN,€90M,€270K,€166.5M

Next, I would like to drop the LongName, ID, Growth, Load Date End, Release Clause columns. I can use the similar code as above.

In [8]:
df.info()  # To identify the index of the columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   LongName         18979 non-null  object
 1   Nationality      18979 non-null  object
 2   Positions        18979 non-null  object
 3   Name             18979 non-null  object
 4   Age              18979 non-null  int64
 5   ↓OVA             18979 non-null  int64
 6   POT              18979 non-null  int64
 7   Team & Contract  18979 non-null  object
 8   ID               18979 non-null  int64
 9   Height           18979 non-null  object
 10  Weight           18979 non-null  object
 11  foot             18979 non-null  object
 12  BOV              18979 non-null  int64
 13  BP               18979 non-null  object
 14  Growth           18979 non-null  int64
 15  Joined           18979 non-null  object
 16  Loan Date End    1013 non-null   object
 17  Value            18979 non-null  object
 18  Wage             18979 non-null  object
 19  Release Clause   18979 non-null  object
dtypes: int64(6), object(14)
memory usage: 2.9+ MB

In [9]:
df.drop(df.columns[[0,8,14,16,19]], inplace=True, axis=1) 

df.head()

,Nationality,Positions,Name,Age,↓OVA,POT,Team & Contract,Height,Weight,foot,BOV,BP,Joined,Value,Wage
0,Argentina,RW ST CF,L. Messi,33,93,93,\n\n\n\nFC Barcelona\n2004 ~ 2021\n\n,"5'7""",159lbs,Left,93,RW,"Jul 1, 2004",€67.5M,€560K
1,Portugal,ST LW,Cristiano Ronaldo,35,92,92,\n\n\n\nJuventus\n2018 ~ 2022\n\n,"6'2""",183lbs,Right,92,ST,"Jul 10, 2018",€46M,€220K
2,Slovenia,GK,J. Oblak,27,91,93,\n\n\n\nAtlético Madrid\n2014 ~ 2023\n\n,"6'2""",192lbs,Right,91,GK,"Jul 16, 2014",€75M,€125K
3,Belgium,CAM CM,K. De Bruyne,29,91,91,\n\n\n\nManchester City\n2015 ~ 2023\n\n,"5'11""",154lbs,Right,91,CAM,"Aug 30, 2015",€87M,€370K
4,Brazil,LW CAM,Neymar Jr,28,91,91,\n\n\n\nParis Saint-Germain\n2017 ~ 2022\n\n,"5'9""",150lbs,Right,91,LW,"Aug 3, 2017",€90M,€270K

Great, I have removed all the columns that are not required. We went from having **77 columns, to only 16 columns.**

### 5.1 Modify the height column

Next, I will be converting the **height and weight** into **float type** which will allow us to apply them to **aggregrate functions** later.

In [10]:
# To convert the Height in inches into Height_cm which allows easier calculation for aggregration functions

df['Height_cm'] = (df['Height']
 .str.extract(r'(\d+)\'\s*(\d+)"')
 .astype(float)
 .mul([12*2.54, 2.54])
 .sum(axis=1)
 )

# To rearrange the columns, so that the column "Height_cm" sits beside "Height"
df = df[['Nationality', 'Positions', 'Name', 'Age', '↓OVA', 'POT',
       'Team & Contract', 'Height','Height_cm', 'Weight', 'foot', 'BOV', 'BP',
       'Joined', 'Value', 'Wage']]   

df.head()

,Nationality,Positions,Name,Age,↓OVA,POT,Team & Contract,Height,Height_cm,Weight,foot,BOV,BP,Joined,Value,Wage
0,Argentina,RW ST CF,L. Messi,33,93,93,\n\n\n\nFC Barcelona\n2004 ~ 2021\n\n,"5'7""",170.18,159lbs,Left,93,RW,"Jul 1, 2004",€67.5M,€560K
1,Portugal,ST LW,Cristiano Ronaldo,35,92,92,\n\n\n\nJuventus\n2018 ~ 2022\n\n,"6'2""",187.96,183lbs,Right,92,ST,"Jul 10, 2018",€46M,€220K
2,Slovenia,GK,J. Oblak,27,91,93,\n\n\n\nAtlético Madrid\n2014 ~ 2023\n\n,"6'2""",187.96,192lbs,Right,91,GK,"Jul 16, 2014",€75M,€125K
3,Belgium,CAM CM,K. De Bruyne,29,91,91,\n\n\n\nManchester City\n2015 ~ 2023\n\n,"5'11""",180.34,154lbs,Right,91,CAM,"Aug 30, 2015",€87M,€370K
4,Brazil,LW CAM,Neymar Jr,28,91,91,\n\n\n\nParis Saint-Germain\n2017 ~ 2022\n\n,"5'9""",175.26,150lbs,Right,91,LW,"Aug 3, 2017",€90M,€270K

A success! We have now added in the **_Height_cm_** column, which converts the height from inches to cm, and this column is also in the **float** type.

### 5.2 Modify the weight column

In [11]:
# To strip the numerical value from the lbs in the weight columns, then convert it to kilogram
df['Weight_kg'] = df['Weight'].str.extract(r'(\d+)').astype(float).mul(0.453592).round(2)

# To rearrange the columns, so that the column "Height_cm" sits beside "Height"
df = df[['Nationality', 'Positions', 'Name', 'Age', '↓OVA', 'POT',
       'Team & Contract', 'Height','Height_cm', 'Weight', 'Weight_kg', 'foot', 'BOV', 'BP',
       'Joined', 'Value', 'Wage']]   

df.head()

,Nationality,Positions,Name,Age,↓OVA,POT,Team & Contract,Height,Height_cm,Weight,Weight_kg,foot,BOV,BP,Joined,Value,Wage
0,Argentina,RW ST CF,L. Messi,33,93,93,\n\n\n\nFC Barcelona\n2004 ~ 2021\n\n,"5'7""",170.18,159lbs,72.12,Left,93,RW,"Jul 1, 2004",€67.5M,€560K
1,Portugal,ST LW,Cristiano Ronaldo,35,92,92,\n\n\n\nJuventus\n2018 ~ 2022\n\n,"6'2""",187.96,183lbs,83.01,Right,92,ST,"Jul 10, 2018",€46M,€220K
2,Slovenia,GK,J. Oblak,27,91,93,\n\n\n\nAtlético Madrid\n2014 ~ 2023\n\n,"6'2""",187.96,192lbs,87.09,Right,91,GK,"Jul 16, 2014",€75M,€125K
3,Belgium,CAM CM,K. De Bruyne,29,91,91,\n\n\n\nManchester City\n2015 ~ 2023\n\n,"5'11""",180.34,154lbs,69.85,Right,91,CAM,"Aug 30, 2015",€87M,€370K
4,Brazil,LW CAM,Neymar Jr,28,91,91,\n\n\n\nParis Saint-Germain\n2017 ~ 2022\n\n,"5'9""",175.26,150lbs,68.04,Right,91,LW,"Aug 3, 2017",€90M,€270K

Similar to the _height_ column, we now created a new **_Weight_kg_** column that converts the players weight from pounds to kg, and the column is in the **float** type.

### 6.1 Split the 'Team & Contract' column

The team and contract year are merged into one column, is is required to split them into 2 seperate columns.

But first, we will have to clean and remove the repeated "\n" strings.

In [12]:
# To convert the column into "string" type
df['Team & Contract'] = df['Team & Contract'].astype('str') 

# To remove the repeated "/n" string
df['Team & Contract'] = df['Team & Contract'].str.replace('\n', '')

df.head()

,Nationality,Positions,Name,Age,↓OVA,POT,Team & Contract,Height,Height_cm,Weight,Weight_kg,foot,BOV,BP,Joined,Value,Wage
0,Argentina,RW ST CF,L. Messi,33,93,93,FC Barcelona2004 ~ 2021,"5'7""",170.18,159lbs,72.12,Left,93,RW,"Jul 1, 2004",€67.5M,€560K
1,Portugal,ST LW,Cristiano Ronaldo,35,92,92,Juventus2018 ~ 2022,"6'2""",187.96,183lbs,83.01,Right,92,ST,"Jul 10, 2018",€46M,€220K
2,Slovenia,GK,J. Oblak,27,91,93,Atlético Madrid2014 ~ 2023,"6'2""",187.96,192lbs,87.09,Right,91,GK,"Jul 16, 2014",€75M,€125K
3,Belgium,CAM CM,K. De Bruyne,29,91,91,Manchester City2015 ~ 2023,"5'11""",180.34,154lbs,69.85,Right,91,CAM,"Aug 30, 2015",€87M,€370K
4,Brazil,LW CAM,Neymar Jr,28,91,91,Paris Saint-Germain2017 ~ 2022,"5'9""",175.26,150lbs,68.04,Right,91,LW,"Aug 3, 2017",€90M,€270K

We have succesfully **remove the repeated '\n'** strings by replacing it with '' or in simple words: nothing.

There are 2 methods to split the columns, both methods use string slicing. The 2nd method uses a for loop.

In [13]:
# METHOD 1

df['Team_Name'] = df['Team & Contract'].str[:-11] # To obtain only the first 11 string, starting from the end
df['Contract_Year'] = df['Team & Contract'].str[-11:] # To obtain the remaining strings after the 11th string, starting from the end

# To rearrange the columns
df = df[['Nationality', 'Positions', 'Name', 'Age', '↓OVA', 'POT',
       'Team & Contract', 'Team_Name', 'Contract_Year', 'Height','Height_cm', 'Weight', 'Weight_kg', 'foot', 'BOV', 'BP',
       'Joined', 'Value', 'Wage']]

In [ ]:
# METHOD 2 
Team = []
Year=[]

for i in range(len(df['Team & Contract'])):
    Team.append(str(df['Team & Contract'][i][:-11])) # To obtain the team name
    Year.append(str(df['Team & Contract'][i][-11:])) # To obtain the contract year
    
df['Team_Name'] = Team
df['Contract_Year'] = Year

In [15]:
df.head()

,Nationality,Positions,Name,Age,↓OVA,POT,Team & Contract,Team_Name,Contract_Year,Height,Height_cm,Weight,Weight_kg,foot,BOV,BP,Joined,Value,Wage
0,Argentina,RW ST CF,L. Messi,33,93,93,FC Barcelona2004 ~ 2021,FC Barcelona,2004 ~ 2021,"5'7""",170.18,159lbs,72.12,Left,93,RW,"Jul 1, 2004",€67.5M,€560K
1,Portugal,ST LW,Cristiano Ronaldo,35,92,92,Juventus2018 ~ 2022,Juventus,2018 ~ 2022,"6'2""",187.96,183lbs,83.01,Right,92,ST,"Jul 10, 2018",€46M,€220K
2,Slovenia,GK,J. Oblak,27,91,93,Atlético Madrid2014 ~ 2023,Atlético Madrid,2014 ~ 2023,"6'2""",187.96,192lbs,87.09,Right,91,GK,"Jul 16, 2014",€75M,€125K
3,Belgium,CAM CM,K. De Bruyne,29,91,91,Manchester City2015 ~ 2023,Manchester City,2015 ~ 2023,"5'11""",180.34,154lbs,69.85,Right,91,CAM,"Aug 30, 2015",€87M,€370K
4,Brazil,LW CAM,Neymar Jr,28,91,91,Paris Saint-Germain2017 ~ 2022,Paris Saint-Germain,2017 ~ 2022,"5'9""",175.26,150lbs,68.04,Right,91,LW,"Aug 3, 2017",€90M,€270K

We have **succesfully split** the columns as wanted.

For better clarity, we also arranged the columns, allowing related columns to be placed beside each other.

### 6.2 Split the Contract_Year column

In [16]:
# To create 2 new columns that split the year into "start year" and "end year"
df['Start_Year'] = df['Contract_Year'].str[:4] 
df['End_Year'] = df['Contract_Year'].str[-4:] 

# To rearrange the columns
df = df[['Nationality', 'Positions', 'Name', 'Age', '↓OVA', 'POT',
       'Team & Contract', 'Team_Name', 'Contract_Year', 'Start_Year', 'End_Year', 
         'Height','Height_cm', 'Weight', 'Weight_kg', 'foot', 'BOV', 'BP',
       'Joined', 'Value', 'Wage']]   


df.head()

,Nationality,Positions,Name,Age,↓OVA,POT,Team & Contract,Team_Name,Contract_Year,Start_Year,End_Year,Height,Height_cm,Weight,Weight_kg,foot,BOV,BP,Joined,Value,Wage
0,Argentina,RW ST CF,L. Messi,33,93,93,FC Barcelona2004 ~ 2021,FC Barcelona,2004 ~ 2021,2004,2021,"5'7""",170.18,159lbs,72.12,Left,93,RW,"Jul 1, 2004",€67.5M,€560K
1,Portugal,ST LW,Cristiano Ronaldo,35,92,92,Juventus2018 ~ 2022,Juventus,2018 ~ 2022,2018,2022,"6'2""",187.96,183lbs,83.01,Right,92,ST,"Jul 10, 2018",€46M,€220K
2,Slovenia,GK,J. Oblak,27,91,93,Atlético Madrid2014 ~ 2023,Atlético Madrid,2014 ~ 2023,2014,2023,"6'2""",187.96,192lbs,87.09,Right,91,GK,"Jul 16, 2014",€75M,€125K
3,Belgium,CAM CM,K. De Bruyne,29,91,91,Manchester City2015 ~ 2023,Manchester City,2015 ~ 2023,2015,2023,"5'11""",180.34,154lbs,69.85,Right,91,CAM,"Aug 30, 2015",€87M,€370K
4,Brazil,LW CAM,Neymar Jr,28,91,91,Paris Saint-Germain2017 ~ 2022,Paris Saint-Germain,2017 ~ 2022,2017,2022,"5'9""",175.26,150lbs,68.04,Right,91,LW,"Aug 3, 2017",€90M,€270K

Great, we now have the beginning year and the end year of the contract in 2 seperate columns.

### 7. Convert the Year columns into int
### and
### 8. Remove unwanted rows

Next, I want to convert the **_Start_Year_** and **_End_Year_** columns into **int** data type.

In [17]:
# To remove empty spaces
df['Start_Year'] = df['Start_Year'].replace(" ", "")

# To convert data type of column to 'int32'
df['Start_Year'] = df['Start_Year'].astype('int32')

ValueError: invalid literal for int() with base 10: ' Bra'

However there is an error, it seems like there is a **string ' Bra'** in some of the rows. 

Let's check which rows contains this string ' Bra'.

In [18]:
# To check rows that contain ' Bra'

df[df['Start_Year'] == ' Bra']

,Nationality,Positions,Name,Age,↓OVA,POT,Team & Contract,Team_Name,Contract_Year,Start_Year,End_Year,Height,Height_cm,Weight,Weight_kg,foot,BOV,BP,Joined,Value,Wage
288,Brazil,LB LM,Welington Dano,20,81,81,BrazilFree,,BrazilFree,Bra,Free,"5'10""",177.80,152lbs,68.95,Left,81,LB,"Jan 1, 2019",€0,€0
292,Brazil,CB CDM,Juiano Mestres,24,81,81,BrazilFree,,BrazilFree,Bra,Free,"5'11""",180.34,181lbs,82.10,Right,81,CB,"Jan 1, 2019",€0,€0

It seems like there are **2 rows with the string ' Bra'** instead of an actual year, we need to remove these rows.

In [19]:
# To remove the rows containing the string ' Bra'

for x in df.index:
    if df.loc[x, "Start_Year"]== ' Bra':
        df.drop(x, inplace=True)

df[df['Start_Year'] == ' Bra'].count()

Nationality        0
Positions          0
Name               0
Age                0
↓OVA               0
POT                0
Team & Contract    0
Team_Name          0
Contract_Year      0
Start_Year         0
End_Year           0
Height             0
Height_cm          0
Weight             0
Weight_kg          0
foot               0
BOV                0
BP                 0
Joined             0
Value              0
Wage               0
dtype: int64

Alright the invalid rows have been removed, and we can reconfirm by counting and making sure the sum is 0.

In [20]:
df['Start_Year'] = df['Start_Year'].astype('int')

ValueError: invalid literal for int() with base 10: 'Ecua'

Ah, the same **string invalidity** occurs again. This means that there are **more rows** in the _Year_ columns that **doesn't  have an actual year**, but instead has **some kind of string.**

Now let's see how many rows contain these invalid strings.

In [21]:
# To check rows that does not start with '2'

df[~df['Start_Year'].str.startswith("2")]

,Nationality,Positions,Name,Age,↓OVA,POT,Team & Contract,Team_Name,Contract_Year,Start_Year,End_Year,Height,Height_cm,Weight,Weight_kg,foot,BOV,BP,Joined,Value,Wage
205,Wales,RW,G. Bale,30,83,83,"Tottenham HotspurJun 30, 2021 On Loan","Tottenham HotspurJun 30, 2",021 On Loan,021,Loan,"6'1""",185.42,181lbs,82.10,Left,83,RW,"Sep 1, 2013",€24.5M,€130K
250,Portugal,CDM CM,Danilo Pereira,28,82,82,"Paris Saint-GermainJun 30, 2021 On Loan","Paris Saint-GermainJun 30, 2",021 On Loan,021,Loan,"6'2""",187.96,183lbs,83.01,Right,82,CDM,"Jul 2, 2015",€20M,€92K
257,France,GK,A. Areola,27,82,86,"FulhamJun 30, 2021 On Loan","FulhamJun 30, 2",021 On Loan,021,Loan,"6'5""",195.58,207lbs,93.89,Right,82,GK,"Jul 1, 2010",€20M,€93K
299,Uruguay,CDM CM,L. Torreira,24,81,85,"Atlético MadridJun 30, 2021 On Loan","Atlético MadridJun 30, 2",021 On Loan,021,Loan,"5'5""",165.10,132lbs,59.87,Right,82,CDM,"Jul 12, 2018",€21M,€49K
305,Italy,RM RW ST,M. Politano,26,81,81,"NapoliJun 30, 2021 On Loan","NapoliJun 30, 2",021 On Loan,021,Loan,"5'7""",170.18,148lbs,67.13,Left,81,RM,"Jul 1, 2019",€19M,€74K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18497,Australia,ST,M. Najjar,20,52,65,"Macarthur FCAug 31, 2021 On Loan","Macarthur FCAug 31, 2",021 On Loan,021,Loan,"6'0""",182.88,159lbs,72.12,Left,54,ST,"Feb 13, 2018",€100K,€500
18569,China PR,CM,Deng Yubiao,23,51,60,"Shijiazhuang Ever Bright F.C.Dec 31, 2020 On Loan","Shijiazhuang Ever Bright F.C.Dec 31, 2",020 On Loan,020,Loan,"5'11""",180.34,143lbs,64.86,Right,55,CAM,"Jul 14, 2017",€60K,€1K
18580,England,CM RW LW,A. Read,20,51,63,"StevenageJun 30, 2021 On Loan","StevenageJun 30, 2",021 On Loan,021,Loan,"5'10""",177.80,141lbs,63.96,Left,55,CAM,"Jul 12, 2019",€70K,€1K
18638,China PR,CAM LM,Chen Pu,23,51,60,"Shijiazhuang Ever Bright F.C.Dec 31, 2020 On Loan","Shijiazhuang Ever Bright F.C.Dec 31, 2",020 On Loan,020,Loan,"5'10""",177.80,150lbs,68.04,Right,53,CAM,"Jul 25, 2019",€60K,€1K
18696,China PR,CM LM LB,Chen Zhechao,25,51,56,"Guangzhou R&F FCDec 31, 2020 On Loan","Guangzhou R&F FCDec 31, 2",020 On Loan,020,Loan,"5'10""",177.80,154lbs,69.85,Left,59,CB,"Jan 1, 2016",€50K,€2K

From the output, we can identify that there are actually **1250 rows** that **doesn't have an actual year** written in the "Year" columns.

So we have to remove these invalid rows.

In [22]:
# We remove the invalid rows.

# We achieve it by saving only the valid rows.
df = df[df['Start_Year'].str.startswith("2")]

df

,Nationality,Positions,Name,Age,↓OVA,POT,Team & Contract,Team_Name,Contract_Year,Start_Year,End_Year,Height,Height_cm,Weight,Weight_kg,foot,BOV,BP,Joined,Value,Wage
0,Argentina,RW ST CF,L. Messi,33,93,93,FC Barcelona2004 ~ 2021,FC Barcelona,2004 ~ 2021,2004,2021,"5'7""",170.18,159lbs,72.12,Left,93,RW,"Jul 1, 2004",€67.5M,€560K
1,Portugal,ST LW,Cristiano Ronaldo,35,92,92,Juventus2018 ~ 2022,Juventus,2018 ~ 2022,2018,2022,"6'2""",187.96,183lbs,83.01,Right,92,ST,"Jul 10, 2018",€46M,€220K
2,Slovenia,GK,J. Oblak,27,91,93,Atlético Madrid2014 ~ 2023,Atlético Madrid,2014 ~ 2023,2014,2023,"6'2""",187.96,192lbs,87.09,Right,91,GK,"Jul 16, 2014",€75M,€125K
3,Belgium,CAM CM,K. De Bruyne,29,91,91,Manchester City2015 ~ 2023,Manchester City,2015 ~ 2023,2015,2023,"5'11""",180.34,154lbs,69.85,Right,91,CAM,"Aug 30, 2015",€87M,€370K
4,Brazil,LW CAM,Neymar Jr,28,91,91,Paris Saint-Germain2017 ~ 2022,Paris Saint-Germain,2017 ~ 2022,2017,2022,"5'9""",175.26,150lbs,68.04,Right,91,LW,"Aug 3, 2017",€90M,€270K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18974,China PR,CB,Zhang Mengxuan,21,47,52,Chongqing Dangdai Lifan FC SWM Team2020 ~ 2020,Chongqing Dangdai Lifan FC SWM Team,2020 ~ 2020,2020,2020,"5'10""",177.80,154lbs,69.85,Right,49,CB,"Aug 1, 2020",€35K,€1K
18975,England,ST,V. Da Silva,17,47,67,Oldham Athletic2020 ~ 2021,Oldham Athletic,2020 ~ 2021,2020,2021,"5'7""",170.18,128lbs,58.06,Right,51,CAM,"Aug 1, 2020",€60K,€500
18976,China PR,CB,Xia Ao,21,47,55,Wuhan Zall2018 ~ 2022,Wuhan Zall,2018 ~ 2022,2018,2022,"5'10""",177.80,146lbs,66.22,Right,49,CB,"Jul 13, 2018",€40K,€1K
18977,England,CM,B. Hough,17,47,67,Oldham Athletic2020 ~ 2021,Oldham Athletic,2020 ~ 2021,2020,2021,"5'9""",175.26,143lbs,64.86,Right,51,CAM,"Aug 1, 2020",€60K,€500
18978,Bolivia,CDM,M. Flores,19,47,63,Club Bolívar2020 ~ 2024,Club Bolívar,2020 ~ 2024,2020,2024,"5'9""",175.26,150lbs,68.04,Right,48,CDM,"Jan 1, 2020",€60K,€500

In [23]:
# To convert the year columns into 'int' data type

df['Start_Year'] = df['Start_Year'].astype('int')
df['End_Year'] = df['End_Year'].astype('int')

# To verify that the year columns have been succesfully converted into 'int' data type
print(df['Start_Year'].mean())
print(df['End_Year'].max())

2018.3275793986575
2028

Nice, now we have succesfully converted the Start_Year and End_Year columns into integers, and can perform aggregrate functions on them.

### 9. Convert the value and wage (M- million, K- thousand) columns into int

In [24]:
# To convert the value column

df['Value_int'] = df['Value'].astype('str')
df['Value_int'] = df['Value'].str.replace('€','')


def convert_amount(value):
    if 'M' in value:
        return float(value.replace('M', '')) * 1e6
    elif 'K' in value:
        return float(value.replace('K', '')) * 1e3
    else:
        return float(value)

df['Value_int'] = df['Value_int'].apply(convert_amount)

df

,Nationality,Positions,Name,Age,↓OVA,POT,Team & Contract,Team_Name,Contract_Year,Start_Year,End_Year,Height,Height_cm,Weight,Weight_kg,foot,BOV,BP,Joined,Value,Wage,Value_int
0,Argentina,RW ST CF,L. Messi,33,93,93,FC Barcelona2004 ~ 2021,FC Barcelona,2004 ~ 2021,2004,2021,"5'7""",170.18,159lbs,72.12,Left,93,RW,"Jul 1, 2004",€67.5M,€560K,67500000.0
1,Portugal,ST LW,Cristiano Ronaldo,35,92,92,Juventus2018 ~ 2022,Juventus,2018 ~ 2022,2018,2022,"6'2""",187.96,183lbs,83.01,Right,92,ST,"Jul 10, 2018",€46M,€220K,46000000.0
2,Slovenia,GK,J. Oblak,27,91,93,Atlético Madrid2014 ~ 2023,Atlético Madrid,2014 ~ 2023,2014,2023,"6'2""",187.96,192lbs,87.09,Right,91,GK,"Jul 16, 2014",€75M,€125K,75000000.0
3,Belgium,CAM CM,K. De Bruyne,29,91,91,Manchester City2015 ~ 2023,Manchester City,2015 ~ 2023,2015,2023,"5'11""",180.34,154lbs,69.85,Right,91,CAM,"Aug 30, 2015",€87M,€370K,87000000.0
4,Brazil,LW CAM,Neymar Jr,28,91,91,Paris Saint-Germain2017 ~ 2022,Paris Saint-Germain,2017 ~ 2022,2017,2022,"5'9""",175.26,150lbs,68.04,Right,91,LW,"Aug 3, 2017",€90M,€270K,90000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18974,China PR,CB,Zhang Mengxuan,21,47,52,Chongqing Dangdai Lifan FC SWM Team2020 ~ 2020,Chongqing Dangdai Lifan FC SWM Team,2020 ~ 2020,2020,2020,"5'10""",177.80,154lbs,69.85,Right,49,CB,"Aug 1, 2020",€35K,€1K,35000.0
18975,England,ST,V. Da Silva,17,47,67,Oldham Athletic2020 ~ 2021,Oldham Athletic,2020 ~ 2021,2020,2021,"5'7""",170.18,128lbs,58.06,Right,51,CAM,"Aug 1, 2020",€60K,€500,60000.0
18976,China PR,CB,Xia Ao,21,47,55,Wuhan Zall2018 ~ 2022,Wuhan Zall,2018 ~ 2022,2018,2022,"5'10""",177.80,146lbs,66.22,Right,49,CB,"Jul 13, 2018",€40K,€1K,40000.0
18977,England,CM,B. Hough,17,47,67,Oldham Athletic2020 ~ 2021,Oldham Athletic,2020 ~ 2021,2020,2021,"5'9""",175.26,143lbs,64.86,Right,51,CAM,"Aug 1, 2020",€60K,€500,60000.0
18978,Bolivia,CDM,M. Flores,19,47,63,Club Bolívar2020 ~ 2024,Club Bolívar,2020 ~ 2024,2020,2024,"5'9""",175.26,150lbs,68.04,Right,48,CDM,"Jan 1, 2020",€60K,€500,60000.0

In [25]:
# To convert the wage column

df['Wage_int'] = df['Wage'].astype('str')
df['Wage_int'] = df['Wage'].str.replace('€','')


def convert_amount(value):
    if 'M' in value:
        return float(value.replace('M', '')) * 1e6
    elif 'K' in value:
        return float(value.replace('K', '')) * 1e3
    else:
        return float(value)

df['Wage_int'] = df['Wage_int'].apply(convert_amount)

df

,Nationality,Positions,Name,Age,↓OVA,POT,Team & Contract,Team_Name,Contract_Year,Start_Year,End_Year,Height,Height_cm,Weight,Weight_kg,foot,BOV,BP,Joined,Value,Wage,Value_int,Wage_int
0,Argentina,RW ST CF,L. Messi,33,93,93,FC Barcelona2004 ~ 2021,FC Barcelona,2004 ~ 2021,2004,2021,"5'7""",170.18,159lbs,72.12,Left,93,RW,"Jul 1, 2004",€67.5M,€560K,67500000.0,560000.0
1,Portugal,ST LW,Cristiano Ronaldo,35,92,92,Juventus2018 ~ 2022,Juventus,2018 ~ 2022,2018,2022,"6'2""",187.96,183lbs,83.01,Right,92,ST,"Jul 10, 2018",€46M,€220K,46000000.0,220000.0
2,Slovenia,GK,J. Oblak,27,91,93,Atlético Madrid2014 ~ 2023,Atlético Madrid,2014 ~ 2023,2014,2023,"6'2""",187.96,192lbs,87.09,Right,91,GK,"Jul 16, 2014",€75M,€125K,75000000.0,125000.0
3,Belgium,CAM CM,K. De Bruyne,29,91,91,Manchester City2015 ~ 2023,Manchester City,2015 ~ 2023,2015,2023,"5'11""",180.34,154lbs,69.85,Right,91,CAM,"Aug 30, 2015",€87M,€370K,87000000.0,370000.0
4,Brazil,LW CAM,Neymar Jr,28,91,91,Paris Saint-Germain2017 ~ 2022,Paris Saint-Germain,2017 ~ 2022,2017,2022,"5'9""",175.26,150lbs,68.04,Right,91,LW,"Aug 3, 2017",€90M,€270K,90000000.0,270000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18974,China PR,CB,Zhang Mengxuan,21,47,52,Chongqing Dangdai Lifan FC SWM Team2020 ~ 2020,Chongqing Dangdai Lifan FC SWM Team,2020 ~ 2020,2020,2020,"5'10""",177.80,154lbs,69.85,Right,49,CB,"Aug 1, 2020",€35K,€1K,35000.0,1000.0
18975,England,ST,V. Da Silva,17,47,67,Oldham Athletic2020 ~ 2021,Oldham Athletic,2020 ~ 2021,2020,2021,"5'7""",170.18,128lbs,58.06,Right,51,CAM,"Aug 1, 2020",€60K,€500,60000.0,500.0
18976,China PR,CB,Xia Ao,21,47,55,Wuhan Zall2018 ~ 2022,Wuhan Zall,2018 ~ 2022,2018,2022,"5'10""",177.80,146lbs,66.22,Right,49,CB,"Jul 13, 2018",€40K,€1K,40000.0,1000.0
18977,England,CM,B. Hough,17,47,67,Oldham Athletic2020 ~ 2021,Oldham Athletic,2020 ~ 2021,2020,2021,"5'9""",175.26,143lbs,64.86,Right,51,CAM,"Aug 1, 2020",€60K,€500,60000.0,500.0
18978,Bolivia,CDM,M. Flores,19,47,63,Club Bolívar2020 ~ 2024,Club Bolívar,2020 ~ 2024,2020,2024,"5'9""",175.26,150lbs,68.04,Right,48,CDM,"Jan 1, 2020",€60K,€500,60000.0,500.0

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17727 entries, 0 to 18978
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Nationality      17727 non-null  object
 1   Positions        17727 non-null  object
 2   Name             17727 non-null  object
 3   Age              17727 non-null  int64
 4   ↓OVA             17727 non-null  int64
 5   POT              17727 non-null  int64
 6   Team & Contract  17727 non-null  object
 7   Team_Name        17727 non-null  object
 8   Contract_Year    17727 non-null  object
 9   Start_Year       17727 non-null  int64
 10  End_Year         17727 non-null  int64
 11  Height           17727 non-null  object
 12  Height_cm        17727 non-null  float64
 13  Weight           17727 non-null  object
 14  Weight_kg        17727 non-null  float64
 15  foot             17727 non-null  object
 16  BOV              17727 non-null  int64
 17  BP               17727 non-null  object
 18  Joined           17727 non-null  object
 19  Value            17727 non-null  object
 20  Wage             17727 non-null  object
 21  Value_int        17727 non-null  float64
 22  Wage_int         17727 non-null  float64
dtypes: float64(4), int64(6), object(13)
memory usage: 3.2+ MB

### 10. Finalize and remove unnecessary columns

In [27]:
df.drop(df.columns[[6,8,11,13,19,20]], inplace=True, axis=1)

In [28]:
df

,Nationality,Positions,Name,Age,↓OVA,POT,Team_Name,Start_Year,End_Year,Height_cm,Weight_kg,foot,BOV,BP,Joined,Value_int,Wage_int
0,Argentina,RW ST CF,L. Messi,33,93,93,FC Barcelona,2004,2021,170.18,72.12,Left,93,RW,"Jul 1, 2004",67500000.0,560000.0
1,Portugal,ST LW,Cristiano Ronaldo,35,92,92,Juventus,2018,2022,187.96,83.01,Right,92,ST,"Jul 10, 2018",46000000.0,220000.0
2,Slovenia,GK,J. Oblak,27,91,93,Atlético Madrid,2014,2023,187.96,87.09,Right,91,GK,"Jul 16, 2014",75000000.0,125000.0
3,Belgium,CAM CM,K. De Bruyne,29,91,91,Manchester City,2015,2023,180.34,69.85,Right,91,CAM,"Aug 30, 2015",87000000.0,370000.0
4,Brazil,LW CAM,Neymar Jr,28,91,91,Paris Saint-Germain,2017,2022,175.26,68.04,Right,91,LW,"Aug 3, 2017",90000000.0,270000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18974,China PR,CB,Zhang Mengxuan,21,47,52,Chongqing Dangdai Lifan FC SWM Team,2020,2020,177.80,69.85,Right,49,CB,"Aug 1, 2020",35000.0,1000.0
18975,England,ST,V. Da Silva,17,47,67,Oldham Athletic,2020,2021,170.18,58.06,Right,51,CAM,"Aug 1, 2020",60000.0,500.0
18976,China PR,CB,Xia Ao,21,47,55,Wuhan Zall,2018,2022,177.80,66.22,Right,49,CB,"Jul 13, 2018",40000.0,1000.0
18977,England,CM,B. Hough,17,47,67,Oldham Athletic,2020,2021,175.26,64.86,Right,51,CAM,"Aug 1, 2020",60000.0,500.0
18978,Bolivia,CDM,M. Flores,19,47,63,Club Bolívar,2020,2024,175.26,68.04,Right,48,CDM,"Jan 1, 2020",60000.0,500.0

Perfect, the dirty data set started from having **18979 rows x 77 columns**, to now, a cleaned data set having **17727 rows x 17 columns** after we removed the unwanted data. We have succesfully cleaned the data as required and can proceed to the subsequent step!

### 11. Export the cleaned data into .csv or .json file

In [ ]:
df.to_csv('fifa_cleaned.csv', index=False)

In [ ]:
df.to_json('fifa_cleaned.json')

The final step is exporting the cleaned data. We can export it into a file type that we desire, either **_.csv_** file or **_.json_** file. We have now completed the entire project, bravo!